* {
  padding: 0;
  margin: 0;
}

body {
  height: 100vh;
}

.container {
  display: flex;
  flex-direction: column;
}

header {
  height: auto;
}
  
#map {
  height: 100%;
  width: 100%;
  background: #ddd;
}

 




/* * {
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
}

#map{
  
  height: 100%;
  width: 100%;
  
  background: #ddd;
} */